<nav
  style="padding: 1rem; display: flex; justify-content: space-between; align-items: top;"
>
  <a href="/" class="nes-text">Deployatron 3000</a>
  <a href="/" class="nes-btn is-primary">Login</a>
</nav>
<main
  style="max-width: 1000px; padding: 1rem; margin: 0 auto; gap: 1rem; display: flex; flex-direction: column;"
>
  <div class="nes-container is-rounded is-centered" style="background: white;">
    <p style="font-size: 2.5rem;">{{title}}</p>
    <i class="nes-icon trophy is-large"></i>
    <div style="padding-top: 1rem;">
      <button type="button" class="nes-btn is-primary">Start Deploying</button>
      <button type="button" class="nes-btn">Get a Demo</button>
    </div>
    <section class="icon-list" style="margin-top: 0.5rem;">
      <i class="nes-icon is-medium star"></i>
      <i class="nes-icon is-medium star"></i>
      <i class="nes-icon is-medium star"></i>
      <i class="nes-icon is-medium star"></i>
      <i class="nes-icon is-medium star"></i>

    </section>

  </div>
  <section class="nes-container is-rounded" style="background: white;">
    <section class="message-list">
      <section class="message -left">
        <i class="nes-bcrikko"></i>
        <div class="nes-balloon from-left">
          <p>What is Deployatron?</p>
        </div>
      </section>

      <section class="message -right">
        <div class="nes-balloon from-right">
          <p>I'm glad you asked! Deployatron is the future of web app
            deployments.</p>
        </div>
        <i class="nes-bcrikko"></i>
      </section>
    </section>
  </section>
</main>